/* Media Queries */
@media (max-width: 1200px) {
    /* Ajustes para telas grandes (Ex.: laptops, desktops menores) */
    #info {
      font-size: 18px;
      padding: 20px;
    }
  
    .cenario {
      height: 75vh;
    }
  
    .pipe {
      width: 45px;
    }
  
    .mario {
      width: 100px;
    }
  
    #login input,
    #login button {
      width: 80%;
      height: 40px;
    }
  }
  
  @media (max-width: 768px) {
    /* Ajustes para telas de tablets ou smartphones em modo paisagem */
    #info {
      font-size: 12px;
      align-items: center;
      padding: 15px;
    }
  
    .cenario {
      height: 60vh;
    }
  
    .pipe {
      width: 30px;
    }
  
    .mario {
      width: 60px;
    }
  
    .clouds {
      width: 250px;
      bottom: 50px;
    }

    .bill {
      width: 50px;
    }

    .image-mario-game-over {
      width: 10px;
    }
  
    #login input,
    #login button {
      width: 25%;
      height: 35px;
    }
  
    #game-over {
      font-size: 30px;
    }
  
    #game-over button {
      width: 120px;
      height: 35px;
    }
  }
  
  @media (max-width: 480px) {
    /* Ajustes para smartphones em modo retrato */
    #info {
      font-size: 14px;
    }
  
    .cenario {
      height: 50vh;
    }
  
    .pipe {
      width: 30px;
    }
  
    .mario {
      width: 70px;
    }
  
    .clouds {
      width: 300px;
    }
  
    #login input,
    #login button {
      width: 90%;
      height: 30px;
    }
  
    #game-over {
      font-size: 40px;
    }
  
    #game-over button {
      width: 150px;
      height: 30px;
    }
  }
  
  @media (max-width: 360px) {
    /* Ajustes para telas muito pequenas */
    .cenario {
      height: 45vh;
    }
  
    #info {
      font-size: 12px;
    }
  
    .pipe {
      width: 25px;
    }
  
    .mario {
      width: 60px;
    }
  
    .clouds {
      width: 250px;
    }
  
    #login input,
    #login button {
      width: 95%;
      height: 28px;
    }
  
    #game-over {
      font-size: 35px;
    }
  
    #game-over button {
      width: 140px;
      height: 28px;
    }
  }

  @media (min-width: 768px) {
    #mobile-controls {
      display: none; /* Oculta os botões em telas grandes */
    }
  }
  
